:root{
    --main-colour: #f4b360;
    --main-font: 'Poppins'
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero{
    width: 100%;
    height: 100dvh;
    background-color: #F4B360;
    position: relative;
    z-index: 1;
    
}

.ellipse{
    max-width: 84%;
    position: absolute;
    left: calc(10% + 10px);
    z-index: 2;
}

.ellipse img{
    max-width: 100%;
}

header{
    width: 100%;
    height: 10%;
    position: absolute;
    border: 2px solid red;
    z-index: 3;
}