:root{
    --main-colour: #f4b360;
    --main-font: 'Poppins'
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'poppins', sans-serif;
    background-color: #f4b360;
}

body {
    
}
.hero{
    width: 100%;
    height: 100dvh;
    background: url(assets/Desktop\ -\ 2.png) no-repeat; 
    background-position: center ;
    background-size: contain;
    position: relative;
    bottom: 200px;  
}

header{
    width: 100%;
    height: 10%;
    border: 2px solid rgb(46, 45, 40);
    position: absolute;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 150px;
    margin-left: 10px;
    margin-top: 15px;
}

header .logo img{
    max-width: 100%;
}

header .links {
    width: 25%;
    border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
header .links ul{
    list-style: none;
     
}
header .links ul{
    display: inline-block;
    border: 1px solid hotpink;
    
}

header .links ul li a{
    text-decoration: none;
    color: #ffffff;
}